# Archivos binarios ejecutables
*.exe
*.out

# Archivos objeto de compilación
*.o
*.obj

# Archivos de depuración y temporales
*.log
*~

# Archivos de IDE comunes (Visual Studio, VS Code, etc.)
.vscode/
.vs/

# Archivos de proyecto generados automáticamente (si usas IDEs)
*.pro.user